{% extends "index.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="p-5">
        <h2 class="mb-5">Hi, {{ user.first_name|title }} {{ user.last_name|title }}</h2>
        <div>
                <p>
                    <span>Email:</span>
                    <span>{{ user.email }}</span>
                </p>
                <p>
                    <span>Birth Date:</span>
                    <span>{{ userprofile.birth_date }}</span>
                </p>
                <p>
                    <span>Phone Number:</span>
                    <span>{{ userprofile.phone_number }}</span>
                </p>
                <p>
                    <span>User type:</span>
                    <span>{{ userprofile.user_type }}</span>
                </p>
                <p>
                    <span>BIO:</span>
                    <span>{{ userprofile.bio }}</span>
                </p>
            <p>
                    <span>Location:</span>
                    <span>{{ userprofile.location }}</span>
                </p>
        </div>
    </div>
    <h2>Edit profile</h2>
    <div class="p-5">
        <form method="POST" style="width: 25em;  margin: auto">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" value="Save_profile">Save profile</button>
        </form>
    </div>
{% endblock content %}
