{% extends "index.html" %}
{% load static %}
{% block content %}
    <div class="d-flex justify-content-between">
        <p>
            <a class="btn btn-primary m-3" role="button" aria-disabled="true" href="{% url 'students:create_student' %}">Add new student</a>
        </p>
        <form class="d-flex" role="search" method="GET" style="width: 50%; height: 2.6em; margin-top: 15px;">
            <input class="form-control me-2" type="search" name="search" placeholder="Search" aria-label="Search">
            <button style="width: 15em" class="btn btn-outline-primary" type="submit">Search student</button>
        </form>
    </div>
    <div>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Birth date</th>
                <th scope="col">Age</th>
                <th scope="col">Grade</th>
                <th scope="col">Group number</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for student in students %}
                <tr>
                    <td>
                    {% if student.avatar %}
                        <img src="{{ student.avatar.url }}" alt="avatar {{ student.first_name }}" height="50" width="50">
                    {% else %}
                        <img src="{% static 'img/user.png' %}" alt="avatar" height="50" width="50">
                    {% endif %}
                    </td>
                    <td>{{ student.first_name }}</td>
                    <td>{{ student.last_name }}</td>
                    <td>{{ student.email }}</td>
                    {% if student.birth_date %}
                        <td>{{ student.birth_date }}</td>
                        <td>{{ student.age }}</td>
                    {% else %}
                        <td>Not available</td>
                        <td>Invalid birth date</td>
                    {% endif %}
                    <td>{{ student.grade }}</td>
                    <td>{{ student.group }}</td>
                    <td>
                        <a type="button" class="btn btn-warning"
                        href="{% url 'students:update_student' student.pk %}">Edit</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger"
                        href="{% url 'students:delete_student' student.pk %}">Delete</a>
                    </td>
                    <td>
                        {% if student.resume %}
                        <a type="button" class="btn btn-danger"
                           href="{{ student.resume.url }}" target="_blank">Resume</a>
                        {% else %}
                        <a type="button" class="btn btn-danger"
                        href="{% static 'resumes/cv.pdf' %}">Resume</a>
                    </td>
                        {% endif %}
                </tr>
            {% empty %}
                <p class="fs-1">No students found.</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}