{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="p-5">
        <form method="POST" style="width: 25em;  margin: auto">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary" value="Create">Create</button>
        </form>
    </div>
{% endblock content %}