{% extends "index.html" %}
{% load static %}
{% block content %}
    <div>
        <p>
            <a class="btn btn-primary m-3" role="button" aria-disabled="true" href="{% url 'teachers:teacher_create' %}">Add new teacher</a>
        </p>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">Photo</th>
                <th scope="col">First name</th>
                <th scope="col">Last name</th>
                <th scope="col">Email</th>
                <th scope="col">Birth date</th>
                <th scope="col">Phone number</th>
                <th scope="col">Qualification</th>
                <th scope="col">Groups</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for teacher in teachers %}
                <tr>
                    <td>
                    {% if teacher.avatar_url %}
                        <img src="{{ teacher.avatar_url }}" alt="Avatar {{ student.first_name }}" height="50" width="50">
                    {% else %}
                        <img src="{% static 'img/user.png' %}" alt="Avatar" height="50" width="50">
                    {% endif %}
                    </td>
                    <td>{{ teacher.first_name }}</td>
                    <td>{{ teacher.last_name }}</td>
                    <td>{{ teacher.email }}</td>
                    {% if teacher.birth_date %}
                        <td>{{ teacher.birth_date }}</td>
                    {% else %}
                        <td>Not available</td>
                        <td>Invalid birth date</td>
                    {% endif %}
                    <td>{{ teacher.phone_number }}</td>
                    <td>{{ teacher.qualification }}</td>
                    <td>
                   {% for group in teacher.group.all %}
                       <a href="{% url 'groups:details_group' group.pk %}">{{ group.group_number }}</a>
                   {% endfor %}
                    </td>
                    <td>
                        <a type="button" class="btn btn-warning"
                        href="{% url 'teachers:update_teacher' teacher.pk %}">Edit</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger"
                        href="{% url 'teachers:delete_teacher' teacher.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}


