{% extends "index.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="p-5">
        <form method="GET" style="width: 25em;  margin: auto">
            <fieldset disabled>
                {% csrf_token %}
                {{ form|crispy }}
            </fieldset>
            <a class="btn btn-primary" href="{% url 'teachers:teachers_list' %}">Back</a>
        </form>
    </div>
{% endblock content %}