{% extends "index.html" %}
{% block content %}
    <div>
        <p>
            <a class="btn btn-primary m-3" role="button" aria-disabled="true" href="{% url 'groups:group_create' %}">Add new group</a>
        </p>
        <table class="table table-dark table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Group Number</th>
                <th scope="col">Email Group</th>
                <th scope="col">Subject</th>
                <th scope="col">Students Count</th>
                <th scope="col">Start Date</th>
                <th scope="col">Description</th>
                <th scope="col">Edit</th>
                <th scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for group in groups %}
                <tr>
                    <th scope="row">{{ group.id }}</th>
                    <td>{{ group.group_number }}</td>
                    <td>{{ group.email_group }}</td>
                    <td>{{ group.subject }}</td>
                    <td>{{ group.students_count }}</td>
                    <td>{{ group.start_date }}</td>
                    <td>{{ group.description }}</td>
                    <td>
                        <a type="button" class="btn btn-warning"
                        href="{% url 'groups:update_group' group.pk %}">Edit</a>
                    </td>
                    <td>
                        <a type="button" class="btn btn-danger"
                        href="{% url 'groups:delete_group' group.pk %}">Delete</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}